@inherits LayoutComponentBase

<PageTitle>FrontendBlazor</PageTitle>

<div class="flex flex-col h-screen">
    <Navbar />
    <div class="flex flex-1">
        @* <SideBar /> *@
        <main class="flex-1 p-4 bg-gradient-to-r from-purple-50 via-purple-100 to-fuchsia-50 relative z-0">
            @Body
        </main>
    </div>
</div>
